body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lyrics {
    width: 40%;
    text-align: center;
}