body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightyellow;
}

img {
    max-width: 250px;
    max-height: 250px;
}

.row {
    display: flex;
    padding: 0 20%;
}

.album-cover {
    text-align: right;
    flex: 40%;
}

.lyrics {
    text-align: center;
    flex: 60%;
}